# Core libraries
numpy
matplotlib
streamlit
openai
ephem
requests

# VTK and related libraries
pillow
imageio
pooch
scooby
cmocean
colorcet
meshio
vtk
pyvista
stpyvista
trame
trame-client
trame-components
trame-server
trame-vtk
trame-vuetify

# Visualization libraries
bokeh
param
geovista
colorcet
requests
cmocean>=4.0.3
trame
trame-client
trame-components
trame-server
trame-vtk
trame-vuetify
