# Core libraries
numpy
matplotlib
streamlit
openai
ephem
requests

# VTK and related libraries
pillow
imageio
pooch
scooby
cmocean
colorcet
meshio
vtk
pyvista
vtk.modules  # Only if required, but generally not necessary
stpyvista
geovista
trame
trame-client
trame-components
trame-server
trame-vtk
trame-vuetify

# Visualization libraries
bokeh
param
colorcet
cmocean
panel
